body{
    /*font-family: "Bodoni Moda SC", serif;*/
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  
}
.nav-item a{
    font-size: 4.4em;
    
}
.nav-item a:hover{
    border-bottom: 1px solid white;
}
.buggati, .god-father, .CR7, .batman, .scarface{
    background-repeat: no-repeat;
    background-size: cover;
}
.buggati{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5 ),  rgba(0, 0, 0, 0.5 )), url(/img/buggati.jpg);
}
.margen{
    margin-top: 30em;
}
.god-father{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5 ),  rgba(0, 0, 0, 0.5 )), url(/img/The\ Godfather_Poster.jpg.crdownload);
}
.CR7{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5 ),  rgba(0, 0, 0, 0.5 )), url(/img/cristianor-jpg.avif);
}
.batman{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5 ),  rgba(0, 0, 0, 0.5 )), url(/img/batman.jpg.crdownload);
}
.scarface{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5 ),  rgba(0, 0, 0, 0.5 )), url(/img/scarface.jpg.crdownload);
}
.h2footer{
    font-size: 15em; border-bottom: 2px solid black;
}
.h5carousel{
    background-color: rgba(0, 0, 0, 0.76);
}
.carousel-item img{
    max-width: 100%;
}
.card-body h5:hover{
    border-bottom: 1px solid white;
}
.imagenes img{
    width: 40%;
}

@media (max-width: 656px) {
    .h2footer{
        font-size: 8em;
    }
}
@media (max-width: 700px) {
    .nav-item a{
        font-size: 1.5em;
        text-align: center;
    }
}
@media (min-width: 701px) and (max-width: 1120px) {
    .nav-item a{
        font-size: 2em;
        text-align: center;
    }
}
